<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>CleanKeyboard</string>
	<key>CFBundleIconFile</key>
	<string>CleanKeyboard</string>
	<key>CFBundleIdentifier</key>
	<string>com.cleankeyboard.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CleanKeyboard</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>

	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<key>NSAppleEventsUsageDescription</key>
	<string>This application needs access to system events to temporarily block keyboard input during cleaning.</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>CleanKeyboard needs accessibility permissions to temporarily block keyboard keys during cleaning.</string>
</dict>
</plist>
